.about
    width: 100%
    height: 100%
    background-color: rgba(0,0,0, 0.75)
    display: flex

.about__box
    display: flex
    flex-direction: column-reverse
    width: 100%
    justify-content: center
    align-items: center

.about__photo
    height: 100vh
    width: 100%
    background-image: url(./../Images/about.jpg)
    background-position: center top
    background-repeat: no-repeat
    background-size: cover

.about__text
    height: 100vh
    width: 100%
    display: flex
    flex-direction: column
    text-align: center
    align-items: center
    justify-content: center

.about__text p,h3
    margin: 10px
    padding: 0 20px
    line-height: 30px

.about__exhibitions
    width: 90%
    height: 90%
    background-color: red

.exhibition__item
    width: 200px
    height: 100px
    background-repeat: no-repeat
    background-size: cover

@media (min-width: 600px)
    .about__box
        flex-direction: row
