.header
    position: absolute
    left: 0
    top: 0
    height: 100px
    width: 100vw
    background-color: rgba(0,0,0,.5)
    display: flex
    justify-content: space-between

nav ul
    display: flex
    flex-direction: row
