::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #182C61;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #2C3A47;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  color: white;
}